
@font-face {
  font-family: 'Impact';
  src: url('impact.eot');
  src: local('Impact Light'), local('impact'),
      url('impact.eot?#iefix') format('embedded-opentype'),
      url('impact.woff2') format('woff2'),
      url('impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Light.eot');
  src: local('Poppins Light'), local('Poppins-Light'),
      url('Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('Poppins-Light.woff2') format('woff2'),
      url('Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('Poppins-Medium.woff2') format('woff2'),
      url('Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
      url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('Poppins-SemiBold.woff2') format('woff2'),
      url('Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('Poppins-Regular.woff2') format('woff2'),
      url('Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('Montserrat-Bold.woff2') format('woff2'),
      url('Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('Montserrat-Regular.woff2') format('woff2'),
      url('Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('Montserrat-SemiBold.woff2') format('woff2'),
      url('Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
