@font-face {
  font-family: 'Impact';
  src: url('./impact.ttf') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), local('Montserrat-Bold'),
    url('./Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), local('Montserrat-Regular'),
    url('./Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
    url('./Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Light'), local('Poppins-Light'),
    url('./Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Medium'), local('Poppins-Medium'),
    url('./Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Regular'),
    url('./Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-SemiBold'), local('Poppins-SemiBold'),
    url('./Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
