<section class="about-me" id="about-me">
  <div class="container about-me-inner">
    <h2 class="about-me-title">about <span>me</span></h2>
    <div class="about-me-content">
      <div class="foto-bio-tab">
        <img
          class="man-foto"
          srcset="
            /img/about-me/about-me-1x.jpg 1x,
            /img/about-me/about-me-2x.jpg 2x
          "
          src="/img/about-me/about-me-1x.jpg"
          alt="man-fotos"
          width="320"
          height="374"
        />
        <div class="bio-text">
          <h3 class="portfolio-title">BIO</h3>
          <p class="about-me-text">
            I'm Lloyd Jefferson, a talented programmer specializing <br />in
            software development. My expertise spans various programming
            languages and technologies, and I am dedicated to continually
            enhancing my skills. I thrive on seeking unconventional and creative
            solutions to problems, leveraging a high level of analytical skills
            to effectively tackle even the most challenging tasks.
          </p>
          <p class="about-me-text">
            Adaptable to both independent and team-oriented work, I collaborate
            seamlessly with colleagues, exchanging ideas and finding optimal
            solutions. My professional maturity enables me to navigate
            challenges and stressful situations with a calm demeanor,
            maintaining a consistently high quality of work. Committed to
            self-improvement, I actively engage in studying new technologies and
            practices to stay current with the <br />latest innovations in the
            field.
          </p>
        </div>
      </div>
      <div class="education-role">
        <div class="education-role-item">
          <h3 class="portfolio-title">EDUCATION</h3>
          <ul class="about-me-list">
            <li class="about-me-item">
              <p>
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="about-me-item">
              <p>
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="about-me-item">
              <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
            </li>
          </ul>
        </div>
        <div class="education-role-item">
          <h3 class="portfolio-title">ROLE</h3>
          <ul class="about-me-list">
            <li class="about-me-item"><p>Frontend development</p></li>
            <li class="about-me-item"><p>HeadlessCMS, Wordpress</p></li>
            <li class="about-me-item"><p>Blender (enjoy)</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
