<section
  class="benefits"
  id="benefits">
  <div class="container benefits-inner">
      <h2 class="benefits-title">
      <span class="benefits-span">Benefits</span> of working with me
    </h2>
    <h3 class="visually-hidden">Benefits</h3>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon" width="24" height="24">
          <use href="/img/sprite.svg#benefits-user"></use>
        </svg>
        <h4 class="benefits-subtitle">Expertise</h4>
        <p class="benefits-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="24" height="24">
          <use href="/img/sprite.svg#benefits-message"></use>
        </svg>
        <h4 class="benefits-subtitle">Communication</h4>
        <p class="benefits-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="24" height="24">
          <use href="/img/sprite.svg#benefits-brush"></use>
        </svg>
        <h4 class="benefits-subtitle">Art</h4>
        <p class="benefits-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="24" height="24">
          <use href="/img/sprite.svg#benefits-hourglass"></use>
        </svg>
        <h4 class="benefits-subtitle">Urgent execution</h4>
        <p class="benefits-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
