<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq__title">frequently asked <span>question</span></h2>
    <div class="faq-container">
        <ul id="faq-list">
            <li>
              <div class="faq-question">
                <button class="faq-toggle">
                  <svg class="faq-icon" width="16" height="16">
                    <use href="#faq-arrow-bottom"></use>
                  </svg>
                </button>
                <span>WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?</span>
              </div>
              <div class="faq-answer show"> 
                <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
              </div>
            </li>
            <li>
              <div class="faq-question">
                <button class="faq-toggle">
                  <svg class="faq-icon" width="16" height="16">
                    <use href="path/to/sprite.svg#faq-arrow-bottom"></use>
                  </svg>
                </button>
                <span>WHAT ARE THE DEADLINES FOR THE PROJECT?</span>
              </div>
              <div class="faq-answer">
                <p>Deadlines depend on the scope and complexity of the project...</p>
              </div>
            </li>
            
          </ul>
  </div>
</section>
