<section class="faq" id="faq">
  <div class="container faq-inner">
    <div class="faq-bg-container">
      <h2 class="faq__title">frequently asked <span>question</span></h2>
      <div class="faq-bg"></div>
    </div>
    <div class="faq-container">
      <ul class="accordion">
        <li class="accordion-item expanded">
          <div class="accordion-header">
            <h3 class="accordion-title">
              WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?
            </h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <div class="accordion-header">
            <h3 class="accordion-title">
              WHAT ARE THE DEADLINES FOR THE PROJECT?
            </h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              Deadlines are agreed upon based on the project requirements and
              complexity.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <div class="accordion-header">
            <h3 class="accordion-title">What payment methods do you accept?</h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <div class="accordion-header">
            <h3 class="accordion-title">How can I contact you?</h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <div class="accordion-header">
            <h3 class="accordion-title">Do you provide advice or support?</h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <div class="accordion-header">
            <h3 class="accordion-title">
              What does the process of developing a software product look like
              from idea to implementation?
            </h3>
            <button class="accordion-toggle">
              <svg class="accordion-icon" width="24" height="24">
                <use href="./img/sprite.svg#faq-arrow-top"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-content">
            <p class="accordion-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
