<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <p class="footer-logo">Lloyd<span>Jefferson.</span></p>
            <ul class="footer-list">
                <li>
                    <a class="link-hover" href="https://www.instagram.com/goitclub/ " target="_blank">Instagram</a>
                </li>
                <li>
                    <a class="link-hover" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
                </li>
                <li>
                    <a class="link-hover" href="https://www.linkedin.com/school/goit-start-your-career-in-it " target="_blank">Linkedin</a>
                </li>
                <li>
                    <a class="link-hover" href="https://github.com/DenysHV1/team-portfolio-js"
                        target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
        <p class="footer-text">© Copyright 2024. Made by LloydJefferson</p>
    </div>
</footer>
