<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <a class="footer-logo" href="./index.html"
        >Lloyd<span>Jefferson.</span></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.instagram.com/goitclub/ "
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            target="_blank"
            rel="noopener noreferrer"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://github.com/DenysHV1/team-portfolio-js"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom-text">© Copyright 2024.</p>
      <p class="footer-bottom-text">Made by LloydJefferson</p>
    </div>
  </div>
</footer>
