<header class="header container">
  <a href="./index.html" class="header-logo">Lloyd<span>Jefferson.</span></a>

  <div class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="menu-body">
    <a href="./index.html" class="header-logo-menu"
      >Lloyd<span>Jefferson.</span></a
    >

    <ul class="menu-list">
      <li>
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
      </li>
      <li class="menu-item">
        <a href="#about-me" class="menu-link">About me</a>
      </li>
      <li class="menu-item">
        <a href="#my-projects" class="menu-link">Projects</a>
      </li>
      <li class="menu-item">
        <a href="#contacts" class="menu-link">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
