<section class="hero hero-bg-top">
  <span class="mobile-bg"></span>
  <div class="container hero-inner">
    <div class="hero-headline">
      <h1 class="hero-title">
        <span class="hello"> Hello, I am </span>
        <picture class="hero-img-men">
          <source
            srcset="/img/hero/hero-1x.jpg 1x, /img/hero/hero-2x.jpg 2x"
            media="(max-width: 1280px)" />
          <img
            src="/img/hero/hero-1x.jpg"
            alt="my photo"
            width="108"
            height="108"
        /></picture>
        <span class="hero-title-accent">Fullstack developer</span>
      </h1>
    </div>
    <div class="hero-btn-text">
      <div class="hero-button-container">
        <a href="#contacts" class="hero-button">
          <svg class="hero_svg" width="28" height="15">
            <use href="./img/sprite.svg#hero-arrow"></use>
          </svg>
          Order the project
        </a>
        <span class="green-block"></span>
      </div>
      <div class="hero-text">
        <p class="hero-info-text">
          I work with people all over the world to create
          <span class="green-text"> impressive </span> and
          <span class="green-text">functional websites </span>that reflect each
          client’s unique personality.
        </p>
      </div>
    </div>
  </div>
  <div class="hero-social-media">
    <ul class="hero-social">
      <li class="hero-social-link">
        <a
          class="hero_link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="hero-social-link">
        <a
          class="hero_link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li class="hero-social-link">
        <a
          class="hero_link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="hero-social-link">
        <a
          class="hero_link"
          href="denyshv1.github.io/team-portfolio-js/"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
