<section class="section reviews">
  <div class="container reviews-container">
    <h1 class="reviews-title">Reviews</h1>

    <div class="swiper">
      <ul class="swiper-wrapper list-reviews"></ul>

      <!-- Navigation buttons -->
      <div class="buttons">
        <button class="swiper-button-prev button back"></button>
        <button class="swiper-button-next button ahead"></button>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
