<section class="section-reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper list-reviews"></ul>
      <div class="buttons">
        <button class="swiper-button-prev button back">
          <svg class="icon-but icon-arrow-left">
            <use href="./img/sprite.svg#reviews-arrow-right"></use>
          </svg>
        </button>
        <button class="swiper-button-next button ahead">
          <svg class="icon-but icon-arrow-right">
            <use href="./img/sprite.svg#reviews-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
