<section id="tech-skills" class="tech-skills">
  <h2 class="visually-hidden">Tech Skills</h2>

  <div class="tech-wrapper">
    <div class="marquee">
      <div class="marquee__inner">
        <div class="marquee__line">
          <span class="tech-dot">HTML/CSS</span>
          <span class="tech-dot">JAVASCRIPT</span>
          <span class="tech-dot">REACT</span>
          <span class="tech-dot">NODE. JS</span>
          <span class="tech-dot">REACT NATIVE</span>
          <span class="tech-dot">TYPESCRIPT</span>
          <span class="tech-dot tech-dot-hidden"></span>
        </div>

        <div class="marquee__line">
          <span class="tech-dot">HTML/CSS</span>
          <span class="tech-dot">JAVASCRIPT</span>
          <span class="tech-dot">REACT</span>
          <span class="tech-dot">NODE. JS</span>
          <span class="tech-dot">REACT NATIVE</span>
          <span class="tech-dot">TYPESCRIPT</span>
          <span class="tech-dot tech-dot-hidden"></span>
        </div>
      </div>
    </div>

    <div class="marquee second-marquee">
      <div class="marquee__inner">
        <div class="marquee__line second_marquee__line">
          <span class="tech-dot tech-second-dot">HTML/CSS</span>
          <span class="tech-dot tech-second-dot">JAVASCRIPT</span>
          <span class="tech-dot tech-second-dot">REACT</span>
          <span class="tech-dot tech-second-dot">NODE. JS</span>
          <span class="tech-dot tech-second-dot">REACT NATIVE</span>
          <span class="tech-dot tech-second-dot">TYPESCRIPT</span>
          <span class="tech-dot tech-second-dot tech-dot-hidden"></span>
        </div>

        <div class="marquee__line second_marquee__line">
          <span class="tech-dot tech-second-dot">HTML/CSS</span>
          <span class="tech-dot tech-second-dot">JAVASCRIPT</span>
          <span class="tech-dot tech-second-dot">REACT</span>
          <span class="tech-dot tech-second-dot">NODE. JS</span>
          <span class="tech-dot tech-second-dot">REACT NATIVE</span>
          <span class="tech-dot tech-second-dot">TYPESCRIPT</span>
          <span class="tech-dot tech-second-dot tech-dot-hidden"></span>
        </div>
      </div>
    </div>
  </div>
</section>