<section id="contacts" class="together">
  <div class="container together-container">
    <h2 class="together-title">
      let’s <span class="together-tile-span">work <br />together</span>
    </h2>
    <div class="together-first">
      <div class="together-box">
        <p class="together-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <div class="contacts">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <svg class="" width="24" height="24">
                <use href="././img/sprite.svg#work-together-phone"></use>
              </svg>
              <a href="tel:+380904567890">+38 090 456 78 90</a>
            </li>
            <li class="contacts-list-item">
              <svg class="" width="24" height="24">
                <use href="././img/sprite.svg#work-together-mail"></use>
              </svg>
              <a href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-list-item">
              <svg class="" width="24" height="24">
                <use href="././img/sprite.svg#work-together-location"></use>
              </svg>
              <a
                href="https://www.google.com/maps?q=USA,+New+York"
                target="_blank"
                >USA, New York</a
              >
            </li>
          </ul>
        </div>
      </div>
      <form class="form-list">
        <input
          type="email"
          name="email"
          placeholder="Your email*"
          id="emailInput"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <textarea
          name="message"
          id="messageInput"
          placeholder="Message"
        ></textarea>
        <button class="together-btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
  <div class="modal-overlay visually-hidden"></div>
</section>
