p {
    font-family: "Poppins", sans-serif;;
    font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
}

li {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
  }

  span {
    font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
  }

.faq__title {
    font-family: 'Impact';
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 123%;
    height: 192px;
}

.faq__title span {
    color: #00B068;
}


  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f8f8f8; /* Початковий фон */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Додаємо плавну зміну фону */
  }
  
  .faq-question.active {
    background: #c6e5e5; /* Змінюємо фон при активному стані */
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #c6e5e5; /* Той же колір фону для відповіді */
    padding: 0 15px;
  }
  
  .faq-answer.show {
    max-height: 150px; /* Налаштуйте на відповідну висоту */
  }
  
  .faq-toggle .faq-icon {
    transition: transform 0.3s ease;
  }
  
  .faq-toggle.active .faq-icon {
    transform: rotate(180deg); /* Поворот іконки при розкритті */
  }
  