.header {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

body.lock {
  overflow: hidden;
}

.header-logo {
  font-family: Impact;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
}

.header-logo span {
  color: #00b068;
}

.header-logo-menu {
  display: none;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

input {
  display: none;
}

.menu-link {
  color: #292929;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  transition: color 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-link:hover,
.menu-link:focus {
  color: #00b068;
}

.menu-icon {
  display: none;
}

/* toggle theme */

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 24px;
  background: #e4e5e6;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #00b068;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #f0f0f0;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* theme */

body.dark-theme {
  background-color: #1e2023;

  a,
  p,
  h1,
  h2,
  h3,
  h4 {
    color: #f0f0f0;
  }
  /* header */
  .menu-body {
    background-color: #1e2023;
  }
  .menu-icon span {
    background-color: #f0f0f0;
  }
  /* hero */
  .green-block {
    background: #14c57c;
  }
  .hero-social-media {
    background: #2a2d32;
  }
  /* tech skills */
  .marquee {
    background-color: #204136;
  }
  .marquee__line {
    color: #f0f0f0;
  }
  .second_marquee__line {
    background-color: #2a2d32;
    color: #14c57c;
  }
  .tech-second-dot::before {
    background-color: #fff;
  }
  /* projects */
  a.project-btn {
    background-color: #2a2d32;
  }
  a.project-btn:focus,
  a.project-btn:hover {
    background-color: #3b3f45;
  }
  button.projects-btn-js span {
    color: #f0f0f0;
  }
  button.projects-btn-js span:focus,
  button.projects-btn-js span:hover {
    color: #14c57c;
  }

  /* faq */
  .accordion-icon {
    stroke: #fff;
  }
  .accordion-content,
  .accordion-item.expanded .accordion-header {
    background-color: #204136;
  }
  /* reviews */
  .list-item {
    background: #2a2d32;
  }
  .icon-but,
  .icon-arrow-left {
    stroke: #f0f0f0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    border: 1px solid #f0f0f0;
  }
  .button:hover:not(.button.disabled) {
    background-color: #2a2d32;
  }
  .button.disabled {
    border: 1px solid #2a2d32;
  }

  .form-list input,
  .form-list textarea {
    background: #2a2d32;
    color: #f0f0f0;
  }
  input::placeholder,
  textarea::placeholder {
    color: #f0f0f0;
  }

  /* work together */
  /* footer */
}

@media screen and (max-width: 768px) {
  label {
    margin: 0 auto;
  }
  .header {
    padding: 20;
  }
  /* Menu */

  .menu-body {
    position: absolute;
    top: 0;
    left: -150%;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-image: url('/img/hero/mob-menu.png');
    background-position: center;
    display: flex;
    transition: all 350ms;
    overflow: auto;
  }

  .menu-body.active {
    left: 0;
    z-index: 2;
    .hero-button-container {
      display: none;
    }
    .hero-social {
      display: none;
    }
  }

  .header-logo-menu {
    position: absolute;
    display: block;
    font-family: Impact;
    padding-top: 35px;
    padding-left: 20px;
    font-size: 24px;
    letter-spacing: 0.06em;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    color: #292929;
  }

  .header-logo-menu span {
    color: #00b068;
  }

  .menu-list {
    flex-direction: column;
    gap: 24px;
    margin: auto;
    text-align: center;
  }
  /* Menu icon*/
  .menu-icon {
    display: block;
    width: 23px;
    height: 15px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #292929;
    transition: all 350ms;
  }

  .menu-icon span:first-child {
    top: 0;
  }

  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu-icon.active {
    span {
      transform: scale(0);
    }
    span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    span:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}
