.hero {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 96px;
}

.mobile-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 968px;
  background-image: url(../img/hero/hero-360-top-1x.png);
  background-size: 360px 708px;
  background-repeat: no-repeat;
  background-position: 29% 37%;
  z-index: -1;
}
@media (min-resolution: 192dpi) {
  .mobile-bg {
    background-image: url(../img/hero/hero-360-top-2x.png);
  }
}
/* 
.hero-bg-top{
    /* background-image: url(../img/hero/hero-768-top-1x.png);
    background-size: 351px 264px;
    background-repeat: no-repeat;
    background-position: 39% 1%; 
}*/

.hero-inner {
  display: flex;
  flex-direction: column;
  /* background-image: url(../img/hero/hero-768-bottom-1x.png);
  background-size: 170px 131px;
  background-repeat: no-repeat;
  background-position: 105% 82.5%; */
}

.hero-title {
  font: 400 64px / 1.25 'Impact', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.hero-title-accent {
  color: #00b068;
}
.hero-img-men {
  display: none;
}
/* ~~~ */
.hero-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.hero-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  padding: 30px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:12px;
  right: -56px;
}

.hero_svg {
  stroke: #00b068;
  fill: #00b068;
}

.green-block {
  border-radius: 16px;
  min-width: 165px;
  height: 92px;
  background-color: #bcdfd1;
  position: relative;
  z-index: 0;
  transition: background-color 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  right: 45px;
}

.hero-button-container:hover .green-block {
  background-color: #00b068;
}

.hero-button-container:active .green-block {
  background-color: #00b068;
}

.hero-button-container:focus .green-block {
  background-color: #00b068;
}
/* ~~~ */

.hero-info-text {
  font: 400 18px / 1.55 'Poppins', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}
.green-text {
  color: #00b068;
}
.hero-text {
  padding-bottom: 56px;
}
.hero-social-media {
  margin-top: 16px;
  background: #e4e5e6;
  padding: 32px 0px;
  min-width: 320px;
}
.hero-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.hero-social-link {
  font: 300 16px / 1.5 'Poppins', sans-serif;
  letter-spacing: 0.03em;
}

.hero-social a {
  color: #292929;
}

.hero_link{
  font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #292929;
transition: color 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero_link:hover{
  color: #00b068;
}

.hero_link:focus{
  color: #00b068;
}

.hero_link:active{
  color: #00b068;
}

/*---Media-768---*/
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 244px;
  }
  .mobile-bg {
    display: none;
  }
  .hello{
    display: none;
  }
  .hero-button-container{
    display: none;
  }
  .hero-headline {
    margin-bottom: 194px;
  }
  .hero-bg-top {
    background-image: url(../img/hero/hero-768-top-1x.png);
    background-repeat: no-repeat;
    background-size: 356px 276px;
    background-position: 89% 1%;
  }

  .hero-inner {
    display: flex;
    flex-direction: column;
    background-image: url(../img/hero/hero-768-bottom-1x.png);
    background-size: 356px 276px;
    background-position: 54% 87.5%;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 192dpi) {
    .hero-bg-top {
      background-image: url(../img/hero/hero-768-top-2x.png);
    }
    .hero-inner {
      background-image: url(../img/hero/hero-768-bottom-2x.png);
    }
  }

  .hero-title {
    font: 400 136px / 1.15 'Impact', sans-serif;
    letter-spacing: 0.01em;
    
  }

  .hero-button-container {
    justify-content: flex-start;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .hero-button {
    font-size: 20px;
    line-height: 160%;
    margin-right: -258px;
    padding-right: 180px;
    cursor: pointer;
  }

  .green-block {
    min-width: 261px;
    height: 96px;
  }

  .hero-info-text {
    font: 400 20px / 1.6 'Poppins', sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
  }
  .hero-text {
    padding-bottom: 66px;
  }
  .hero-social-media {
    padding: 40px 0px;
  }
  .hero-social {
    flex-direction: row;
    gap: 40px;
  }
}
/*---Media>1280---*/
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 168px;
  }
  .hero-headline {
    margin-bottom: 80px;
  }
  .hero-bg-top {
    background-size: 356px 276px;
    background-position: 95% 3%;
  }

  .hero-inner {
    background-size: 351px 264px;
    background-position: 24.5% 87.5%;
  }
  .hero-button-container{
    display: inline-flex;
  }
  .hero-button-container {
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero-button{
    padding-right: 264px;
  }
  .hero-img-men {
    display: -webkit-inline-box;
    margin-left: 16px;
  }
  .hero-img-men > img {
    border-radius: 16px;
  }

  .hero-btn-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 116px; 
  }
 
  .hero-text {
    padding: 0 0 0 136px;
  }

  .hello {
    display: inline-block;
  }
}
