.reviews-title {

      margin-bottom: 40px;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    font-family: var(--second-family);
    text-align: center;
      margin-top: 0;
}

.reviews-container {
    --new-family: "Poppins-Light", sans-serif;
    --font-family: "Poppins", sans-serif;
    --second-family: "Impact", sans-serif;
    --third-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 80px;
  
}

.section.reviews {
    margin: 0 auto;
    height: 700px;
    padding-top: 80px;
}



.review-text {
    height: 168px;
    font-weight: 300;
    font-family: var(--new-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-overflow: ellipsis;
}

.review-img {
    border-radius: 24px;
    width: 40px;
    height: 40px;
}

.review-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
}





.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    border-radius: 16px;
    padding: 32px;
    max-width: 320px;
   min-height: 296px;
   max-height: 296px;
    background: #e4e5e6;
   
}




.name-and-img {
 
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}



.swiper-button-next,
.swiper-button-prev {
    display: flex;  
     --swiper-theme-color: #000;
    --swiper-navigation-size: 40px;

   
    border: 1px solid #292929;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
     min-width: 40px;
    max-height: 40px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}


.button:hover:not(.button.disabled) {
    background-color: #292929;
    color: #fff;
  
}

.button.disabled {
    border: 1px solid #E4E5E6;
    cursor: default;
    opacity: 0.5;
    
}



.buttons {
    display: flex;

    justify-content: flex-end;
  
    gap: 16px;

    width: 100%;

    max-width: 116px;
    position: absolute;

    bottom: 56px;
    right: 0;

}

 
@media (min-width: 768px) {
    .review-text{
      max-height: 96px;
    }

    .list-item{
        min-width: 704px;
        min-height: 224px;
    }

    .reviews-title{
        font-size: 108px;
            line-height: 1.14815;
            letter-spacing: 0.02em;
            margin-bottom: 60px;
    }

    .reviews-container{
        max-width: 768px;

    }

    .section.reviews{
        max-height: calc(472px + 124px);
        padding-top: 124px;
    }

    .swiper-wrapper{
        max-height: 288px;
    }

    .buttons{
        bottom: 20px;
    }
}